:root {
  --primary-purple: hsl(259, 100%, 65%);
  --primary-light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smoke-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
  --dark-green: hsl(158, 96.1%, 10%);
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf');
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--off-white);
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-size: 1rem;
}

.container {
  background-color: var(--white);
  border: solid 1rem var(--white);
  border-radius: 1rem 1rem 10rem 1rem;
  padding: 2rem;
  margin: 2rem;
  width: 650px;
}

form {
  display: flex;
  gap: 1rem;
  justify-content: start;
  color: var(--smoke-grey);
  font-size: 1rem;
  text-transform: uppercase;
}

form div {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  row-gap: .5rem;
  letter-spacing: .2rem;
}

form div span input {
  border-radius: 8px;
  border-color: var(--light-grey);
  border-style: solid;
  padding: 1rem;
  width: 7rem;
  font-size: 2rem;
  font-weight: 700;
  height: 2rem;
}

#error-day,
#error-month,
#error-year {
  font-size: .7rem;
  color: var(--primary-light-red);
}

.line {
  margin: 3rem 0 0 0;
  border-top: 1px solid var(--light-grey);
}

.line img {
  background-color: var(--primary-purple);
  border-radius: 50%;
  padding: 1rem;
  margin-top: -2.5rem;
  margin-left: 88%;
}

.line img:hover {
  outline: 2px solid var(--dark-green);
}

.results p {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.results p {
  display: flex;
  font-size: 4rem;
  gap: .5rem;
}

.results span {
  font-weight: 900;
}

.results span:nth-child(1) {
  color: var(--primary-purple);
}

@media (max-width: 800px) {

  form {
    margin-bottom: 5rem;
  }

  .line {
    margin-bottom: 2rem;
  }

  .container {
    padding: 1rem;
    width: 75%;
  }

  .line img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 650px) {
  form div span input {
    width: 5rem;
  }

  .container {
    justify-content: center;
  }
}

@media (min-width: 280px) and (max-width: 649px) {
  form div span input {
    padding: .5rem;
    font-size: 1.5rem;
    width: 4.5rem;
  }
}

@media (max-width: 400px) {
  form header div span input {
    /* padding: .5rem; */
    font-size: 1.3rem;
    width: 3.5rem;
  }

  .results p {
    font-size: 3rem;
  }
}